{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-eventspage{% endblock %}

{% block content %}
<div class="oy">
  <div id="program">
    
    <h3>{{ page.date }} <span class="pink">[{{ page.tag }}] </span>{{ page.title }} <span class="pink"> [{{ page.city }}{% if page.place %} - {% if page.place_link %}<a href="{{ page.place_link }}">{% endif %}{{ page.place }}{% if page.place_link %}</a>{% endif %}{% endif %}]</span></h3>
    <h3><div class="time">{{ page.date_start.time|time:"H:i" }} - {{ page.date_stop.time|time:"H:i" }}</div></h3>
    <h4>{% if page.main_title_link %}<a href="{{ page.main_title_link }}">{% endif %}{{ page.main_title }}{% if page.main_title_link %}</a>{% endif %}</h4>
    {% for item in page.logo.all %}
    <a href="{{ item.link }}">{% image item.icon height-40  as tmp_photo %}
    <img alt="{{ item.name }}" src="{{ tmp_photo.url }}"/></a>
    {% endfor %}
    <br><br>
    <div class="body">{{ page.body|richtext }}</div>
    <a class="btn btn-sign-in" target="_blank" href=""></a>
  </div>
</div>
{% endblock %}

