{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load tz %}
{% load wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div id="header">
  <div id="info">
    <h1>THE <span class="pink">OPEN SOURCE</span><br>
      INNOVATION SPRING</h1>
    <h2>{% if page.topics.all %}
      {% for topic in page.topics.all %}
      <span class="pink"> {{ topic.subject|upper }} </span>
      {% if not forloop.last %} | {% endif %}
      {% endfor %}
      {% endif %}
    </h2>
    {{ page.dates | richtext }}
    <span class="credits">
      <h4>Organisé par : {% if self.get_organizer %}
	{% for item in self.get_organizer %} <a href="{{ item.link }}">{% image item.icon height-40 as photo %}
	<img alt="{{ photo.name }}" src="{{ photo.url }}"/></a>
      {% endfor%}{% endif %}</h4>
      <h5>Avec le soutien de {% if self.get_support %}
	{% for item in self.get_support %}<a href="{{ item.link }}">{% image item.icon height-30 as photo %}
	<img alt="{{ photo.name }}" src="{{ photo.url }}"/></a>
      {% endfor%}{% endif %}</h5>
    </span>
  </div>
</div>
<div class="darkgrey-strip pa1-5e">
  <div class="container">
    <div class="row">
      <div id="intro">
	{{ page.body | richtext }}
      </div>
    </div>
  </div>
</div>
<div id="program">
  {% if page.related_links.all %}
  {% for item in page.related_links.all %}
  {% with item.link_page.specific as event %}
  <div class="container">
    <div itemscope itemtype="http://schema.org/Event">
      <div class="row">
	<a href="{{ item.link }}">
	  <h2 class="title col-md-12">
	    <meta itemprop="startDate" content="{{ event.date_start }}">
	    <meta itemprop="endDate" content="{{ event.date_stop }}">
	    {% language 'fr' %}
	    {% blocktrans with day_t=event.date_start|date:"l"|capfirst %}
	    {{ day_t }}
	    {% endblocktrans %} {{ event.date_start.day }}{% if event.date_start.day == 1 %}er{% endif %} 
	    {% blocktrans with month_t=event.date_start|date:"F" %}
	    {{ month_t }} {% endblocktrans %}
	    {{ event.date_start.year }}{% endlanguage %} 
	    <span class="pink">[{{ event.tag }}]</span> <span itemprop="name">{{ event.title }}</span> <span class="pink" itemprop="location" itemscope itemtype="http://schema.org/Place"> [{{ event.city }}{% if event.place %} - {{ event.place }}{% endif %}]</span></h2></a>
      </div>
      <div class="row conf">
	<div class="col-md-1 date"><span class="icon lightblue-bg">{{ event.date_start.time|date:"H" }}h{% if event.date_start.time|date:"i" != "00" %}{{ event.date_start.time|date:"i" }}{% endif %} - {{ event.date_stop.time|date:"H" }}h{% if event.date_stop.time|date:"i" != "00" %}{{ event.date_stop.time|date:"i" }}{% endif %}</span></div>
	<div class="col-md-11 text">
	  <h3 class="theme">
	    {{ event.main_title }}
	  </h3>
	</div>
	<br>
	{% for pict in event.logo.all %}
	<a href="{{ pict.link }}">{% image pict.icon height-30 as photo %}
	  <img alt="{{ pict.name }}" src="{{ photo.url }}"/></a>
	{% endfor %}
	<br><br><br>
	<div class="content">
	  {{ item.description|richtext }}
	  <br>
	  <a class="btn btn-sign-in" target="_blank" href="{{ event.url }}">Infos et Inscriptions</a>
	</div>
      </div>
    </div>
  </div>
  {% endwith %}
  {% endfor %}
  {% endif %}
</div>
<div id="participants">
  <div class="container">
    <h2 class="organizers">Organisateurs et coorganisateurs :</h2>
    <div class="col-md-12">    
      <ul class="credits list-inline">
	{% if self.get_organizer %}
	{% for item in self.get_organizer %} 
	<li><a href="{{ item.link }}">{% image item.icon height-40 as photo %}
	    <img alt="{{ photo.name }}" src="{{ photo.url }}"/></a></li>
	{% endfor%}
	{% endif %}
	{% if page.related_links.all %}
	{% for item in page.related_links.all %}
	{% with item.link_page.specific as event %}
	{% if event.logo.all %}
	{% for pict in event.logo.all %}
	<li><a href="{{ pict.link }}">{% image pict.icon height-40 as photo %}
	    <img alt="{{ pict.name }}" src="{{ photo.url }}"/></a></li>
	{% endfor %}{% endif %}{% endwith %}{% endfor %}{% endif %}
	
      </ul>
    </div>
  </div>
  <div class="container">
    <h2 class="organizers">Ils relaient l'OSIS, merci !!</h2>
    <div class="col-md-12">
      <ul class="credits list-inline">
	{% if self.get_follower %}
	{% for item in self.get_follower %}
	<li><a href="{{ item.link }}">{% image item.icon height-40 as photo %}
	    <img alt="{{ photo.name }} relaie l'OSIS" src="{{ photo.url }}"/></a></li>
	{% endfor %}
	{% endif %}
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
	<h2 class="organizers">Coordinateur :</h2>
	{% if self.get_coordinator %}
	{% for item in self.get_coordinator %}
	<a href="{{ item.link }}">{% image item.icon height-40 as photo %}
	  <img alt="{{ photo.name }}" src="{{ photo.url }}"/></a>
	{% endfor%}
	{% endif %}
	<br>
	Contact :
	{% if page.ct_mail %}
	<a href="mailto:{{ page.ct_mail }}?subject=OSIS">{% endif %}
	  {% if page.ct_name %}{{ page.ct_name }}{% endif %}
	  {% if page.ct_mail %}</a>{% endif %}
	<h2 class="organizers">Avec le soutien de :</h2>
	<ul class="list-square">
	  {% if page.supports.all %}
	  {% for sup in page.supports.all %}
	  <li><a href="{{ sup.link }}" target="_blank">{{ sup.name }}</a></li>
	  {% endfor %}
	  {% endif %}
	</ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
