{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailusers_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="The Open Source Innovation Spring 2015 big data qualité logiciel iot" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
	<link href="{% static 'css/systematic.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/opensis.css' %}" rel="stylesheet" type="text/css">	
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/opensis.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
        {% endblock %}
    </body>
</html>
