.oy {
    margin: auto;
    width: 100%;
    border: 3px solid #F6F6F6;
    padding: 20px;
    background-color: #F6F6F6;
}

.nav {
    margin: auto;
    display: block;
    background-color : #C7CFE2;/*#D8BFD8;#536174;*/
    width: 100%;    
}

.nav li a {
    color : #536176;/*#50A2D7;*/
    font-weight: bold;
    text-decoration: none;
}

#header a {
    margin: auto;
    font-size: 60%;
}

#intro h5 {
    display: table;
    white-space: nowrap;
    border-spacing: 25px 0;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 110%;
    margin-left: -5%;
    font-size: 1em;
    font-style: normal;
    text-transform: uppercase;
}

#intro h5:before, #intro h5:after {
  content: "";
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(#FFF, #FFF) repeat-x left center;
  background: -moz-linear-gradient(#FFF, #FFF) repeat-x left center;
  background: -ms-linear-gradient(#FFF, #FFF) repeat-x left center;
  background: linear-gradient(#FFF, #FFF) repeat-x left center;
  background-size: 1px 1px;
}

#intro ul {
    list-style-type: square;
}

#intro ul > li + li {
    margin-top: 1em;
}

#intro ul li {
    font-style: normal;
}

#intro ul li b {
    color: #C7CFE2;
}

.oy b {
    color: #EB43A7;
}

.oy b a {
    color: #EB43A7;
    text-decoration: underline;
}

.oy i b {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
}

.oy h4 {
    font-family: inherit;
    font-size: 14px;
}

.oy h5 {
    font-family: inherit;
    font-size: 12px;
    font-weigh: bold;
}

.oy .theme {
    margin-left: 80px;
}

.bord {
    border: 1px solid #FFA35F;
}